.Detail svg{
    width: 70px;
    background: var(--button-color);
    padding: 10px 25px;
}
.Detail svg polygon{
    fill: var(--contrast-color);
    border-right: var(--contrast-color) 2px solid;
}

.Detail nav{
    display: flex;
    padding-right: 20px;
    background: var(--button-color);
}
.Detail nav li{
    padding: 0 15px;
    background: var(--button-color);
    color: var(--contrast-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Detail nav li:hover{
    opacity: .7;
}
.Detail nav .active{
    background: var(--contrast-color);
    color: var(--button-color);
}
.content{
    padding: 5% 10%;
}
.content h2{
    font-size: 2em;
}
.content p{
    margin-top: 10px;
    color: var(--white-contrast);
    font-weight: bold;
}

.Detail .info{
    margin-top: 40px;
    border-bottom: var(--grey-border) solid 2px;
    padding: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}