.Detail svg{
    width: 70px;
    background: var(--button-color);
    padding: 5px 15px;
}
.Detail svg polygon{
    fill: var(--contrast-color);
}

.content{
    padding: 5% 10%;
}
.content h2{
    font-size: 2em;
}
.content p{
    margin-top: 10px;
    color: var(--white-contrast);
    font-weight: bold;
}