.info{
    margin-top: 40px;
    border-bottom: var(--grey-border) solid 2px;
    padding: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task{
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.task label{
    flex: 1;
}
.task svg{
    width: 15px;
    cursor: pointer;
}
.task svg:hover path{
    opacity: 1;
}
.task svg path{
    transition: .5s all;
}
.task svg:last-of-type{
    margin-left: 10px;
    width: 18px;
}

.moreContainer{
    position: relative;
}

.today form input{
    flex: 1;
}
.today form{
    border: solid 1px var(--white-contrast);
    width: 100%;
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
}
.today form button{
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.today form button:first-of-type{
    color: var(--button-color);
    border: solid 1px var(--button-color);
    margin-right: 5px;
    background: var(--contrast-color);
}
.today form button:last-of-type{
    background: var(--button-color);
    color: var(--contrast-color);
}