.info{
    margin-top: 40px;
    border-bottom: var(--grey-border) solid 2px;
    padding: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task{
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.task label{
    flex: 1;
}
.task svg{
    width: 15px;
}