.Moving{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--base-color-rgba);
    top: 0;
    left:0;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    animation: goIn 1s forwards;
    animation-delay: .2s;
    opacity: 0;
    color: var(--contrast-color);
}
.Moving svg{
    margin: 0 5px;
    width: 20px;
}
.taskWrapper{
    flex: 1;
    margin-top: 20px;   
}
.container{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.task{
    border: solid var(--button-color) 2px;
    padding:7px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
}
.name{
    margin: 0!important;
    color:var(--contrast-color)!important;
    flex-grow: 1;
    margin-right: 30px;
}
.Moving p{
    margin: 0;
    color: var(--highlight-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.Moving h2{
    color: var(--contrast-color);
    font-size: 1.6rem;
}
.Moving .description{
    color: var(--highlight-color);
    font-weight: normal;
    margin-top: 5px;
}
.options{
    display: flex;
    align-items: center;
}
.options p{
    margin-right: 10px;
    white-space: nowrap;
}
.options button{
    background: var(--button-color);
    color: var(--contrast-color);
    padding:5px 15px;
    border-radius: 100px;
}
.options button:first-of-type{
    margin-right: 7px;
}
.uncompleted,
.future{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    transition: all 1s;
}

.uncompleted{
    transform:  translateX(-100%);
}
.future{
    transform:  translateX(100%);
}

.active{
    transform:  translateX(0);
}
.choices{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.buttons button{
    color: var(--contrast-color);
    background: var(--button-color);
    padding: 7px 25px;
    border-radius: 100px;
}
.today{
    height: 50%;
    width: 100%;
    background: var(--contrast-color);
    align-self: flex-end;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.today button.done{
    justify-self: flex-end;
    margin-top: auto;
    color: var(--contrast-color);
    background-color: var(--button-color);
    border: solid 2px var(--button-color);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
}
.today button.done:hover{
    background-color: transparent;
    color: var(--button-color);
}
.today h2{
    color: var(--button-color);
}
.today p{
    opacity: .7;
    font-weight: normal;
    color: var(--button-color);
}
.todayTask{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px var(--button-color);
    margin: 5px 0;
}
.todayTask p{
    color: var(--button-color);
    flex: 1;
}

@keyframes goIn{
    to{
        opacity: 1;
    }
}