.Options{
    position: absolute;
    top: 0%;
    left: 0%;
    border: solid 1px var(--white-contrast);
    border-radius: 5px;
    overflow: hidden;
    transform: translate(-95%, 10%);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    z-index: 100;
}