.container{
    flex-basis:33.33%; 
    margin-bottom: 15px;
}
.ProjectWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    --main-color: var(--contrast-color);
}

.Project{
    width: 70%;
    height: 70%;
    margin-top: 20%;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrast-color);
}
.Project h1{
    font-size: 2rem;
}

.Project::before{
    /* position: absolute;
    width: 108%;
    height: 108%;
    border-radius: 15px;
    content: '';
    border: solid 3px var(--main-color); */
}
.container p{
    color:var(--contrast-color);
    text-align: center;
}