.container{
    flex-basis:33.33%; 
    margin-bottom: 15px;
    opacity: .5;
    transition: opacity .5s;
    cursor: pointer;
}

.container:hover{
    opacity: 1;
}
.ProjectWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    --main-color: var(--contrast-color);
}

.Project{
    width: 70%;
    height: 70%;
    margin-top: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrast-color);
    transition: all .5s;
    position: relative;
}
.Project h1{
    font-size: 2rem;
}

.active{
    opacity: 1;
}
.active .Project::before{
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 15px;
    content: '';
    border: solid 4px var(--main-color);
}
.container p{
    color:var(--contrast-color);
    text-align: center;
}
.bgContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.backgroundLetter{
    opacity: .15;
    position: absolute;
    font-size: 8rem;
    top: 0;
    user-select: none;
    pointer-events: none;
}