.AddProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.title{
    font-size: 2.5rem;
    font-weight: bold;
}
.title::placeholder{
    color: rgba(0,0,0,.2);
}
.AddProject textarea{
    resize: none;
    padding: 10px;
    background-color: rgba(0,0,0,.05);
    height: 200px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

.fieldColor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.fieldColor input{
    border: solid rgba(0,0,0,.2) 1px;
    border-radius: 5px;
    width: 120px;
    padding: 2px 5px;
}

.colorPreview{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border: solid rgba(0,0,0,.2) 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorPreview p{
    opacity: .5;
}

.preview{
    color: white;
    text-transform: uppercase;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview p{
    opacity: 1;
    font-size: 1.5rem;
    font-weight: bold;
}