.More{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    cursor: pointer;
    margin-top: 7px;
}

.active .circle {
    background:  var(--button-color);
}

.circle{
    width: 7px;
    height: 7px;
    background-color: var(--white-contrast);
    border-radius: 50%;
    transition: .5s all;
}

.More:hover .circle{
    background: var(--button-color);
}
