.Auth{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Auth nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 35%;
}
.Auth main{
    position: relative;
}

.Auth form{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--contrast-color);
}

.Auth form input{
    padding: 5px 10px;
    margin: 20px;
    width: 200px;
    border: var(--highlight-color) 1px solid;
    border-radius: 10px;
}

.left-enter{
    animation: leftFade 1s forwards;
    z-index: 10;
}
.left-exit{
    animation: leftFade 1s forwards reverse;
}

@keyframes leftFade {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.right-enter{
    animation: rightFade 1s forwards;
    z-index: 10;
}
.right-exit{
    animation: rightFade 1s forwards reverse;
}

@keyframes rightFade {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}