*{
    --base-color: #252A41;
    --lighter-base-color: #3B3F54;
    --contrast-color: white;
    --higlight-color: #eee;
    --button-color: #894EC8;
    --succes-color: #3FD6D5;
    --pending-color: #ECEEF0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
    width: 100vw;
    height: 100vh;
    background: var(--base-color);
    display: flex;
    justify-content: center;
}
.App > main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1500px;
}

.App > main > section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 95vh;
}

.App > main > section.white-section{
    background: var(--contrast-color);
    border-radius: 20px;
}