.Header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.Header h1{
    color: var(--contrast-color);
    font-size: 3rem;
    font-weight: 600;
}
.Header p{
    color: var(--highlight-color);
}
.Header form{
    margin-top: 20px;
    width: 100%;
    background:var(--lighter-base-color);
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.Header input{
    background: transparent;
    font-size: 1rem;
    color: var(--contrast-color);
}

.Header input::placeholder{
    color: var(--highlight-color);
    font-weight: bold;
}

.Header svg > path{
    fill: var(--highlight-color);
}

.Header svg{
    width: 30px;
    margin-right: 20px;
}